.Editor {
    margin-bottom: 2rem;
    border-radius: 0%;
    border: 1px solid lightgray;
    padding: 2rem;
    border-radius: 5px;
}

.TxA {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: inherit;
    border: 1px solid lightgray;
}